
.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

.message{
  margin: 2% 0 2% ;
}

body {
  background-color: #24a19c;
}

h1 {
  margin: 15px;
  font-family: 'Roboto', sans-serif;
  text-shadow: 5px 0 #000;
  font-size: 5rem;
  color: #fff;
}

p {
  font-size: 2rem;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  margin: 2% 0 2%;
}

img {
  width: 80%;
}

.form,.form1{
  margin-top: 5%;
  display: inherit;

}

.form1{
  margin-top: 2%;
}

.btn{
  background-color: #382933;
  font-size: 20px;
  border: none;
  border-radius: 2%;
  padding: 1.5%;
  color: #fff;
  /* margin-right: 4%; */
}
